[Desktop Entry]
Version=1.0
Type=Application
Name=FreeCAD
Comment=
Exec=/opt/FreeCAD/freecad_launcher.sh
Icon=/opt/FreeCAD/freecad.svg
Path=/opt/FreeCAD/
Terminal=true
StartupNotify=true